@font-face {
  font-family: "karla";
  src: url("https://fonts.google.com/specimen/Karla");
}
body {
  font-family: "karla", sans-serif;
  font-size: 16px;
  background-color: hsl(204, 43%, 93%);
  display: flex;
  padding: 4em 2em;
}
.sub_container {
  background-color: white;
  padding: 1rem 2rem;
}
.header {
  color: hsl(179, 62%, 43%);
}
.paragraph_one {
  color: hsl(71, 73%, 54%);
}
.paragraph_two {
  color: hsl(218, 22%, 67%);
}

.cost {
  background-color: hsl(179, 62%, 43%);
  color: white;
}
.figure {
  font-size: 1.5em;
}
.text {
  font-size: 1em;
  color: rgba(255, 255, 255, 0.705);
}
.btn {
  background-color: hsl(71, 73%, 54%);
  color: white;
  border-radius: 10px;
  font-weight: 600;
  text-decoration: none;
  padding: 0.5em 6em;
}
.btn:hover {
  background: hsl(204, 43%, 93%);
  color: hsl(179, 62%, 43%);
}
.why_us {
  background-color: hsla(179, 62%, 43%, 0.699);
  color: white;
}

.why_us p {
  font-size: 1rem;
  line-height: 0.15;
  color: rgba(255, 255, 255, 0.705);
}

body {
  max-width: 650px;
  margin: auto;
}
.container {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.sub_container {
}

.cost {
  padding: 1em 2em;
  flex: 1;
}

.why_us {
  padding: 30px;
  flex: 1;
}

/* Means 400px and below */
@media screen and (max-width: 400px) {
  .flex {
    flex-direction: column;
  }
}

@media screen and (min-width: 400px) and (max-width: 900px) {
}

.container2 {
  width: 70%;
  height: 300px;
  margin: auto;
  border: 1px solid red;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-around; */
  align-items: center;
}

.flex-child {
  border: 1px solid black;
  padding: 2em;
}

.A {
  /* flex: 1; */
}
.B {
  /* flex: 2; */
}
.C {
  /* flex: 3; */
}
